<ion-header translucent>
    <ion-toolbar>
      <ion-icon name="arrow-back" (click) = "back()"></ion-icon>
      <ion-title>{{storeName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  >
    <ion-slides>

      <ion-slide>
          <div class="div11">
              <div *ngFor="let user of stores" value="stores.id" class="div1" (click)="test(user.id)" style="background-color: rgb(255, 255, 255)">
                <ion-label class="user1">[ {{user.name}} ] <br><span><br></span></ion-label>
              </div>    
            </div>        
      </ion-slide>

      <ion-slide>
        <div class="div11">
            <ion-button (click)="comment()">評論</ion-button>
            <div *ngFor="let message of messages" value="message.id" class="div1"  style="background-color: rgb(255, 255, 255)">
              <ion-label class="user1">[ {{message.name}} ] </ion-label>
              <ion-label>{{ message.time | date: 'yyyy/MM/dd HH:mm:ss' }}<br></ion-label>
              <div class="div2">
                <ion-label class="comment1">{{message.message}}</ion-label>
              </div>
            </div>    
          </div>  

      </ion-slide>  

    </ion-slides>
  </ion-content>