<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="text"></ion-icon>
      <ion-label>Comment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="help"></ion-icon>
      <ion-label>Guess</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" >
      <ion-icon name="card"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button (click) = "goBack()">
      <ion-icon name="exit"></ion-icon>
      <ion-label>Exit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
