
.title1{
    background-color: brown;
    color: white;
    font-size: 30px;
  }

  .div1{
    border: solid 2px;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px black dashed;
  }

  .div11{
    background-color: rgb(218, 211, 211);
    height: 78vh;
  }

  .div2{
    margin-top: 5px;
    border-top: 1px solid;
    padding-top: 5px;
  }

.comment1{
  
  color: rgb(143, 132, 132);
}

  .user1{
    color: rgb(18, 160, 165);
  }

  .right1{
    padding-right: 10px;
    position: absolute;
    right: 0;
    color: coral;
  }

.item1{
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
}


select#gender option[value="11"]   { background-image:url(../../assets/icon/favicon.png);   }
select#gender option[value="12"] { background-image:url(../../assets/icon/favicon.png); }
select#gender option[value="13"] { background-image:url(../../assets/icon/favicon.png); }