.div1{
	margin-top: 50px;
}

.div11{
	text-align: center;
	margin-top: 20px;
}

.content1{
	background-image: url('../../assets/tree.png');
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100vh;

	overflow: auto;
}

.c2{
	background-image: url('../../assets/tree1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}